<div class="face-snap-card" [ngClass]="{snapped: userHasSnapped}">
  <h1>{{ 4346234.36 | number: '1.0-1' }}</h1>
  <h2>{{ faceSnap.title | uppercase}}</h2>
  
  <!-- @if (faceSnap.location) {
    <p>Localisation : {{ faceSnap.location }}</p>
  }
  @else {
    <p>Localisation</p>
  } -->

  <p *ngIf="faceSnap?.location; else noLocation">Localisation : {{ faceSnap.location }}</p>
  <ng-template #noLocation><p>Localisation non spécifiée</p></ng-template>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  <p>{{ faceSnap.description }}</p>
  <p>FaceSnap créée le {{ faceSnap.createdAt | date: 'd:MMMM:yyyy, à HH:mm' }}</p>
  <p>
    <button (click)="onSnap()"> {{ snapButtonText}} </button>
    <span [ngStyle]="{ color : 'rgb(0,'+ faceSnap.snaps +', 0)' }">🤌 {{ faceSnap.snaps }}</span>
  </p>
</div>